# A config file to setup tomcat
# Juli etc

# Use this flag to determine if the installation is in the
#home directory.
[local_setup]
use_home = true
# This value should be set when use_home = false : Need to validate
sourceSetup = enable_log4j
home = 
[log4j]
log4j_location: apache-log4j-2.0-rc1-bin
commons_location:commons-logging-1.1.3

[tomcat]
catalina_home: liferay-dev/bundles/tomcat-7.0.42
catalina_lib: lib
catalina_conf: conf
# This is an extra property file in the installation,
# that needs to be cleanedup 
log_props: logging.properties 